<%= form_tag listing_path(@listing), method: 'PUT' do %>
<% if @errors.present? %>
  <ul>
  <% @errors.each do |e| %>
    <li><%= e %></li>
  <% end %>
  </ul>
<% end %>
  <p>
    <label>Quantity</label>
    <%= text_field_tag "quantity" %>
  </p>
  <p>
    <label>Price</label>
    <%= text_field_tag "price" %>
  </p>
  <%= submit_tag "Submit" %>
<% end %>
